version: '3.9'

services:
  # Spring Boot App
  app:
    container_name: packagito_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${SPRING_PORT}:8080"
    env_file:
      - .env
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped

  # MongoDB
  mongodb:
    image: mongo:7
    container_name: packagito_db
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet -u ${MONGO_INITDB_ROOT_USERNAME} -p ${MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

networks:
  app_network:
    name: packagito_net
    driver: bridge

volumes:
  mongo_data:
  maven_data:
