spring:
  config:
    activate:
      on-profile: dev

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %clr(%-5level) %clr(%logger{36}){cyan} - %msg%n"
  level:
    com.kyojin.packagito: DEBUG
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG